@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --foreground-rgb: #fff;
  --background: #212121;
  --tg-theme-bg-css: var(--tg-theme-bg, var(--background));
  --tg-theme-text-css: var(--tg-theme-text, var(--foreground-rgb));
}

a {
  color: var(--tg-theme-text-css) !important;
  text-decoration: none !important;
}

html {
  color: var(--tg-theme-text-css) !important;
  background: var(--tg-theme-bg-css) !important;
}

body {
  color: var(--tg-theme-text-css) !important;
  background: var(--tg-theme-bg-css) !important;
  max-width: 420px !important;
  height: 100vh;
  margin: 0 auto !important;
  display: flex;
  flex-direction: column;
  font-size: 16px !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
